<ion-view view-title="Shop">
  <ion-content class="content">
    <h1 class="row">Your Basket</h1>
    <div class="basket-items" ng-repeat="(index, item) in shop.order() track by $index">
      <ul class="row">{{item.name}}</ul>
      <ul class="row" id="basket-item-price">Price: £{{item.price}}</ul>
      <button class="button button-small button-calm" id="delete" ng-click="shop.removeItemFromBasket(item)">Remove</button>
    </div>
      <h1 class="row" id="total-price"> Total: £{{shop.totalPrice()}}</h1>
    <div>
      <button id="five-pounds" class="button button-small button-calm" ng-click="shop.applyVoucher(5)">Add £5 Voucher</button>
      <button id="ten-pounds" class="button button-small button-calm"  ng-click="shop.applyVoucher(10)">Add £10 Voucher</button>
      <button id="fifteen-pounds" class="button button-small button-calm" ng-click="shop.applyVoucher(15)">Add £15 Voucher</button>
    </div>
  </ion-content>
</ion-view>