<ion-view view-title="Shop">
  <ion-content>
    <h1>Your Basket</h1>
    <ion-item ng-repeat="item in order">
      <div>
	      <ul>{{item.name}}</ul>
	      <ul>Price: £{{item.price}}</ul>
      </div>
       <button class="delete" ng-click="removeItemFromBasket(item)">Remove</button>
    </ion-item>
    <div ng-show="showTotalPrice()"></div>
    <h1 class="total-price"> Total: £{{total}}</h1>
    <h2>Vouchers</h2>
    <button class="five-pounds" ng-click="applyFivePoundVoucher()">Add £5 Voucher</button>
     <button class="ten-pounds" ng-click="applyTenPoundVoucher()">Add £10 Voucher</button>
      <div ng-show="showTenVoucherAlert" >{{tenAlert}}</div>
  </ion-content>
</ion-view>