<ion-tabs class="tabs-calm tabs-icon-top">
	<ion-tab class="women-tab" title="Women" icon-off="ion-ios-undo-outline" icon-on="ion-ios-undo" href="#/tab/women">
		<ion-nav-view name="tab-women"></ion-nav-view>
	</ion-tab>

	<ion-tab class="men-tab" title="Men" icon-off="ion-ios-redo-outline" icon-on="ion-ios-redo" href="#/tab/men">
		<ion-nav-view name="tab-men"></ion-nav-view>
	</ion-tab>
	<ion-tab class="basket-tab" title="Basket" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/basket">
    <ion-nav-view name="tab-basket"></ion-nav-view>
  </ion-tab>
</ion-tabs>
