
.content {
  width: 400px;
  margin: 0 auto;
  position: fixed;
}

.img {
  width: 300px;
  margin-left: 20px;
}
.welcome-img {
  margin-top: 50px;
  width: 400px;
}

.title {
  font-family: sans-serif;
}

.basket-item-price, .button {
  display: inline;
}

.button {
  margin-left: 5px;
}

.shop-link, .basket-link {
  color: #00bfff;
  font-size: 30px;
  font-family: sans-serif;
  text-decoration: none;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-items {
  margin-bottom: 70px;
  margin-left: 10px;
}

.basket-items {
  margin-bottom: 30px;
  margin-left: 10px;
}