
.content {
  width: 400px;
  margin: 0 auto;
  position: fixed;
}

#img {
  width: 300px;
  margin-left: 20px;
}
#welcome-img {
  margin-top: 50px;
  width: 400px;
}

.row {
  font-family: sans-serif;
}

#basket-item-price, #delete {
  display: inline;
}

.button {
  margin-left: 5px;
}

#shop-link, #basket-link {
  color: #00bfff;
  font-size: 30px;
  font-family: sans-serif;
  text-decoration: none;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-items {
  margin-bottom: 70px;
}

.basket-items {
  margin-bottom: 30px;
}